{% include "base.html" %}


{% load static %}


{% block content %}

<style>
    
    body 
    {
        
        background-color: gray;
    
    }


</style>


    <body>

        <br>

        <div class="container bg-white shadow-md p-5" style="width:500px; border-radius:20px;">

            <form id="form" action="{% url 'payment:complete-order' %}" method="post">

                <div>

                    <h3> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Подтвердите Ваш заказ </h3>

                    <p> Введите информацию о платеже. </p>
 


                    <hr>

                    <br>

                    <div class="form-field">
                    
                        <input class="form-control validate" id="name" type="text" placeholder="Полное имя*" autocomplete="off" value="{{shipping_address.full_name}}" required>

                    </div>


                    <br>


                    <div class="form-field">

                        <input class="form-control validate" id="email" type="email" placeholder="Ваш E-mail*" autocomplete="off" value="{{shipping_address.email}}" required>

                    </div>

                    
                    <br>

                    
                    <div class="form-field">

                        <input class="form-control validate" id="address1" type="text" placeholder="Адрес*" autocomplete="off" value="{{shipping_address.street_address}}" required>

                    </div>


                    <br>


                    <div class="form-field">

                        <input class="form-control validate" id="address2" type="text" placeholder="Номер квартиры" autocomplete="off" value="{{shipping_address.apartment_address}}" required>

                    </div>


                    <br>


                    <div class="form-field">

                        <input class="form-control validate" id="city" type="text" placeholder="Город*" autocomplete="off" value="{{shipping_address.city}}" required>

                    </div> 


                    <br>


                    <div class="form-field">

                        <input class="form-control" id="country" type="text" placeholder="Страна" autocomplete="off" value="{{shipping_address.country}}">

                    </div>


                    <br>


                    <div class="form-field">

                        <input class="form-control" id="zipcode" type="text" placeholder="Код Zip (необязательно)" autocomplete="off" value="{{shipping_address.zip}}">

                    </div>
            
                </div>

                <br>
                    {% csrf_token %}


               <button id="complete-order-stripe" type="submit" class="btn btn-primary navbar-btn text-white" name="stripe-payment" value="stripe-payment"> &nbsp; Оплата через Stripe </button>
               <button id="complete-order-yookassa" type="submit" class="btn btn-primary navbar-btn text-white" name="yookassa-payment" value="yookassa-payment"> &nbsp; Оплата через YooKassa </button>

                <br>




            </form>


        </div>

        

        <br>


    </body>
    <script>
        $(document).on('submit', function (e) {
            e.preventDefault();
    
            $.ajax({
                type: 'POST',
                url: '{% url "payment:complete-order" %}',
                data: {
                    name: $('#name').val(),
                    email: $('#email').val(),
                    street_address: $('address1').val(),
                    apartment_address: $('address2').val(),
                    city: $('city').val(),
                    country: $('country').val(),
                    zip_code: $('zipcode').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'payment'
                },
                success: function (response) {
                    window.location.href = "{% url 'payment:payment-success' %}"   
                },
                error: function (xhr, errormsg, err) {
                    window.location.href = "{% url 'payment:payment-fail' %}"
                }
            })
    
        });
        
    
    
    </script>

{% endblock %}